@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-5">QUADRANT RESOURCE PVT.LTD</h1>
    
</div>
